@media only screen and (max-width: 1068px){
body{
background-color: #DDB36F;
width: 100%;
background-size: 100%;


}

#header{
  height: 200px;
  width: 200%;
  margin-top: 10px;
  background-color: #F0932B;
  background-image: url(IMG/logo.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

#gordo{
  width: 100%;
}

#carnes{
  background-color: white;
  width: 700px;
}

#logo2{
  display: none;
}

ul{
 display:none;
}

li{
 display: none;
}

#Lacaverna{
  width: 100%;
  margin-top: -500px;
  text-align:center;
}

}

a.activate{
  color: black;
}

a.visiate{
  color: black;
}

a.interactive{
  color: gray;
}

a{
  color: black;
  font-size: 25px;
  text-decoration: none;
  line-height: 100px;
}


#p{
  width: 800px;
  font-size: 80px;
}

ul{
  text-align: center;
  line-height: 100px;
}

li{
  display: inline;
  margin: 15px;
  background-color: inherit;
  font-family: fantasy;
  font-weight: bold;
}

.cajitas{
  display: table-column;
  margin: 10px;
}









  .lbl-menu{
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
    float:right;
    margin-right: 50px;
    margin-top: 90px;
    }
    .lbl-menu #spn1,#spn2,#spn3{
      position: absolute;
      content: "Hola";
      background: #00ff27;
      width: 50px;
      height: 5px;
      border-radius: 5px;
      transition: all 400ms ease;
  }
  #spn2{
    top: 11px;
  }
  #spn3{
    top: 22px;
    }
    #btn-menu{
      display: none;
      }
      #btn-menu:checked ~ .lbl-menu #spn1{
        transform: rotate(140deg);
        top: 10px;
        }
        #btn-menu:checked ~ .lbl-menu #spn2{
        opacity: 0;
          }
          #btn-menu:checked ~ .lbl-menu #spn3{
            transform: rotate(-140deg);
            top: 10px;
            }
            #btn-menu:checked ~ .lbl-menu{

            }


            body {
            margin: 0;
            font-family: sans-serif;
            }

            header{
              width: 100%;
              background: #4E94AB;
            }

            #btn-menu{
            display: none;
              }

            header label{
            display: none;
            widht: 30px;
            height: 30px;
            padding: 10px
            border-right: 1px solid #fff;
            }

            header label:hover {
              cursor: pointer;
              background: rgba(0,0,0,0.3);
              }

              .menu ul{
                margin: 0;
                list-style: none;
                padding: 0;
                display: flex;

              }

              .menu li{
            border-right: 1px solid #fff;
            }

            .menu li:hover{
              background: rgba(0,0,0,0.3);
            }


              .menu li a {
                display: block;
                padding: 15px 20px;
                color: #fff;
                text-decoration: none;
                }

            @media (max-widht:768px) {
            header label{
              display: block;
              }

              .menu{
                position: absolute;
                background: #4E94AB;
                widht: 70%;
                margin left: -70;
              }

              .menu ul{
                flex-direction: column;
                }

                .menu li {
            border-top: 1px solid #fff;
              }
            #btn-menu: checked ~ .menu{
            margin: 0;
              }
